<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <servlet>
    <servlet-name>helloworld</servlet-name>
    <servlet-class>helloworld.helloworld</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>helloworld</servlet-name>
    <url-pattern>/helloworld</url-pattern>
  </servlet-mapping>
  <display-name>helloworld</display-name>
  <error-page>
    <error-code>404</error-code>
    <location>/404Error.jsp</location>
  </error-page>
  <error-page>
    <error-code>500</error-code>
    <location>/500Error.jsp</location>
  </error-page>
  <error-page>
    <error-code>405</error-code>
    <location>/405Error.jsp</location>
  </error-page>
  <error-page>
    <exception-type>exceptions.ResourceNotFoundException</exception-type>
    <location>/404Error.jsp</location>
  </error-page>

  <context-param>
    <param-name>maxConnections</param-name>
    <param-value>10</param-value>
  </context-param>
  <welcome-file-list>
    <welcome-file>Login.jsp</welcome-file>
    <welcome-file>Register.jsp</welcome-file>
    <welcome-file>DBServlet.java</welcome-file>
    <welcome-file>FormNew.jsp</welcome-file>
    <welcome-file>ClientServlet.java</welcome-file>
    <welcome-file>EditInfo.jsp</welcome-file>
    <welcome-file>OrderConfirm.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Form</display-name>
    <servlet-name>Form</servlet-name>
    <servlet-class>Form.Form</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Form</servlet-name>
    <url-pattern>/Form</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DBServlet</display-name>
    <servlet-name>DBServlet</servlet-name>
    <servlet-class>DBServlet.DBServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DBServlet</servlet-name>
    <url-pattern>/DBServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ClientServlet</display-name>
    <servlet-name>ClientServlet</servlet-name>
    <servlet-class>ClientServlet.ClientServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ClientServlet</servlet-name>
    <url-pattern>/ClientServlet</url-pattern>
  </servlet-mapping>
</web-app>